$background: #F4F5F0;
$secondary: #F4F5F0;

$light-accent: #A2CD39;
$lighter-accent: #A2CD39;
$sharp-accent: #EC9438;

$gray: #999;
$light-gray: #e2e2e2;
$lightest-gray: #f7f7f5;
$dark-gray: #535353;

$white: #FFFFFF;
