
.footer {
  color: $gray;
  background-color: $secondary;
  border-top: 3px solid $orange;
  display: flex;
  justify-content: space-around;
  font-family: $text;
}

.foot-left {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.foot-right {
  display: flex;
  flex-direction: row;
  padding: 30px;
}

.icon{
  height: 32px;
  width: 32px;
  margin: 7px;
  padding-top: 15px;
}

.email-icon {
  height: 32px;
  width: 32px;
  margin: 7px;
  padding-top: 20px;
}

.foot-left {
  width: 500px
}

.foot-left h1,
.foot-left p {
  margin: 10px;
}

.foot-left h1 {
  text-transform: uppercase;
}

.foot-left p {
  font-size: 14px;
}
