
.footer {
  color: $gray;
  background-color: $secondary;
  border-top: 3px solid $orange;
  display: flex;
  flex-direction: column;
  font-family: $text;
  padding: 20px;
  text-align: center;
  align-items: center;
}

.footer-icons {
  display: flex;
  margin-bottom: 10px;
}

.icon{
  height: 32px;
  width: 32px;
  margin: 7px;
  margin-right: 15px;
}