nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
}

nav ul li {
  margin-left: 50px;
  white-space: nowrap;
}

.nav-logo {
  padding: 100px;
  background: transparent url(http://res.cloudinary.com/apark0720/image/upload/v1500501226/logo_mvc1t1.png) center center no-repeat;
  background-size: 80%
}

.nav-login-signup {
  margin-right: 5%;
}

.nav-login-signup li {
}

.nav-logout {
  margin-right: 8%;
}

.nav-logout li {
  font-weight: 700;
  text-decoration: underline;
}
