.nav-bar-container {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  background-color: hsla(0, 0%, 100%, .9);
}

.logo {
  position: static;
  padding-top: 10px;
}

.nav-link {
  font-family: 'Helvetica Neue', sans-serif;
  color: #818285;
  font-size: 13px;
  font-weight: 400;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/helvetica-neue-596ebfa0c1781.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
